p {
    color: rgba(26,26,26,.6);
    font-weight: 500;
    font-size: 14px;
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif; */
}

.orderRow {
    width: 75%;
    padding-bottom: 2%;
}

.removeBtn {
    font-size: 12px;
}

