:root {
    --color-bg-blue: #7795f8;
    --color-bg-pink: #f6a4eb;
    --color-light: #FCEE73;
    --color-green: #e1f8a3;

    --color-bg-black: #000000;


    --color-pink: #FCE4F9;
    --color-bg-green: #FBFEF2;

    --transition: all 100ms ease-in-out;
}

/* .custom_border{
    background: var(--color-bg-pink);
} */
.card-body-home {
    border: solid 20px salmon;
}
.h1 {
    border: dotted 20px salmon;
}
.home-img {
    display: inline-flex;
    align-content: space-around;
}
.home-imgBowl {
    border-image: round;
    border: dotted 10px salmon;
    height:35px;
}
.card-footer {
    color: #FFFFFF,
}


/* img: {
    resizeMode: 'contain',
    alignSelf: 'center',
    width: "100px",
    }, */
/* ===== General ===== */

.btn {
    background-color: var(--color-bg-blue);
    border: 1px solid var(--color-bg-blue);
    transition: var(--transition);
    color: var(--color-green);
    transition: var(--transition);
}

.btn:hover{
    background-color: #829fff;
    border: 1px solid var(--color-bg-blue);

    /* make color darker shade? */
    color: var(--color-light);
}

.btn:active{
    background-color: var(--color-bg-pink);
    color: var(--color-light);    
}

.btn:focus{
    background-color: var(--color-bg-pink);
    color: var(--color-light);
    border: 1px solid var(--color-bg-pink)
}