/* .bowl_card{
    width: 33%;
}

.sides_card{
    width: 33%
} */

.wrap{
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

/* .test{
    border: 2px solid blue !important;
} */

.bowl_col{
    border: 1px solid red !important;
}

.side_col{
    border: 1px solid blue !important;
}

/* ===== Media Queries  ===== */

/* Media Query for Mobile Devices sm*/
        @media (max-width: 480px) {
            body {
                background-color: red;
            }
        }          
        /* Media Query for low resolution  Tablets, Ipads md*/
        @media (min-width: 481px) and (max-width: 767px) {
            body {
                background-color: yellow;
            }

            .side_col{
                justify-content: center;
                margin: 1rem;
            }

            .bowl_col{
                
                margin-left: -1rem;
            }
        }          
        /* Media Query for Tablets Ipads portrait mode lg*/
        @media (min-width: 768px) and (max-width: 1024px){
            body {
                background-color: blue;
            }


            
        }          
        /* Media Query for Laptops and Desktops xl*/
        @media (min-width: 1025px) and (max-width: 1398px){
            body {
                background-color: green;
            }            
        }          
        /* Media Query for Large screens xxl*/
        @media (min-width: 1281px) {
            body {
                background-color: white;
            }           
        }