.sides_container{
    text-align: center;
    width: 43% !important;
    float: right;    
    margin-right: 2rem;
    border: 2px solid var(--color-bg-pink) !important;
    /* background-color: var(--color-pink) !important; */
    height: 100vh !important;
}

.sides_cards{
    margin: 1rem;
    border: 2px solid var(--color-green) !important;
    /* background-color: var(--color-bg-green) !important; */
    height: 100vh !important;
}

/* ===== Media Query for low resolution  Tablets, Ipads ===== */
@media (min-width: 481px) and (max-width: 767px) {
    
    .sides_container{
        width: auto !important;        
        margin: 2rem !important;        
        float: none;
    }
}  
